{% block footer %}
<!--footer start-->
<div class="footer">
    <div class="container center">
        <div>
            <ul class="footer-menu fix">
                <li><a href="{% url 'helper:helper_index' %}">帮助中心</a><span>|</span></li>
                <li><a href="{% url 'helper:helper_index' %}">新手指导</a><span>|</span></li>
                <li><a href="#">商家入驻</a><span>|</span></li>
                <li><a href="{% url 'helper:helper_index' %}">常见问题</a><span>|</span></li>
                <li><a href="#">意见建议</a><span>|</span></li>
                <li><a href="#">问题反馈</a><span>|</span></li>
                <li><a href="#">关于我们</a><span>|</span></li>
                <li><a href="#">加入我们</a><span>|</span></li>
            </ul>
        </div>
             <p>
                有意与本网合作者，有关合作事宜请与《宁夏蓝图商品交易市场有限公司》联系。未经《宁夏蓝图商品交易市场有限公司》书面授权，请勿转载或建立镜像，否则即为侵权。
            </p>
            <p>地址：宁夏银川市西夏区兴泾镇黄花村西夏国际公铁物流城商务服务中心四楼东侧 邮编：750000 客服电话：4008-777-610</p>
            <p>宁ICP备14001885号-1 Copyright©  2007-2015 蓝图商品 ltbot.com 版权所有 复制必究</p>
        <!--<div class="footer-web">-->
            <!--<span class="di-1"></span>-->
            <!--<span class="di-2"></span>-->
            <!--<span class="di-3"></span>-->
            <!--<span class="di-4"></span>-->
            <!--<span class="di-5"></span>-->
        <!--</div>-->
    </div>
</div>
{% endblock %}