{% extends "customer/account_base.html" %}
{% load staticfiles %}
{% load compress %}

{%  block title %}蓝图百货--资产充值--充值成功{%  endblock title %}

{% block oncontentload %}
    {{ block.super }}
    <!--账户资产body start-->
    <div class="account-item-body1 container fix">
        <div class="account-item-con" id="content">
            <div class="account-item-tit">
                <a href="{% url 'customer:assets' %}">账户资产&nbsp;>&nbsp;</a>
                <span>充值成功</span>
            </div>
            <div class="account-item-matter account-item-matter1 account-item-matter2">
                <img src="{% static "images/sub-success.png" %}"/>
                <span style="color: #333;">恭喜，您已经成功充值<span class="color-lred">{{ recharge }}</span>元 。</span>
                <div class="notice notice1" style="margin-left: -78px;color: #666;">
                    当前余额：<span>￥{{ balance }}</span>元
                </div>
            </div>
            <div class="r return">
                <a href="{% url 'customer:finance-ab-recharge' %}">继续充值</a>
                <a href="{% url 'customer:assets' %}">我的账户</a>
                <a href="{% url 'basket:summary' %}">我的购物车</a>
            </div>
        </div>
    </div>
    <!--账户资产body end-->

    <script type="text/javascript">

        window.onload = function(){
            $(".footer-menu").find("li").eq(-1).children("span").css("display","none");
        };
        //得到焦点触发事件
        function OnfocusFun1(element,elementvalue)
        {
            if(element.value==elementvalue)
            {
                element.value="";
                element.type="password";
                element.style.color="#343434";
            }
        }
        //离开输入框触发事件
        function OnBlurFun1(element,elementvalue)
        {
            if(element.value=="" || element.value.replace(/\s/g,"")=="")
            {
                element.value=elementvalue;
                element.type="text";
                element.style.color="#999";
            }
        }

        //改变页码
        $(".page-public>.num").click(function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });
        //支付记录查看
        $(".title-acct>.l>.jilu").click(function(){
            $(this).addClass("active");
            $(this).siblings().removeClass("active");
        });
        //窗口高度自适应
        $(document).ready(function() {
            var wh = $(window).height();
            var dh = $(document).height();
            if(wh == dh){
                $("#content").css({"height": wh-804+374+"px"});
            } else {
            }
        });
        $(window).resize(function(){
            var wh = $(window).height();
            var dh = $(document).height();
            if(wh == dh){
                $("#content").css({"height": wh-804+374+"px"});
            }
        });


    </script>
{% endblock %}