{% extends "customer/safety/account_no_left_nav_base.html" %}
{% load staticfiles %}
{% load compress %}
{% load thumbnail %}

{% block custom_css %}<link rel="stylesheet" href="{% static "css/account2.css" %}" type="text/css">{% endblock %}
{% block custom_js %}
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=b2Oy0FxhxxotX9o1YC7UXVLU"></script>
{% endblock %}
{% block title %}蓝图百货--我的存货-申请提货{% endblock title %}

{% block onbodyload %}
    <div class="contentVisit">
        <div class="comTitle" style="width:1140px;border-bottom:1px solid #eee;"><a href="{% url 'customer:stock' %}">我的存货</a>&gt;{% if pickup_type == 1 %}上门自提{% else %}物流运输{% endif %}<a class="backMy" href="{% url 'customer:pickup_detail' %}">返回提货明细</a></div>
        <div class="visitDot">
        	<div id="pickup_apply_left" class="visitDot_left">
                <div class="checkCont">
                    {% if pickup_type == 1 %}
                        <ul class="visitAddress" id="ziti">
                            {% for pickup_address in change_list %}
                                {% if forloop.counter0 == 0 %}
                                    <li id="{{ pickup_address.id }}" class="current cur-2">
                                {% else %}
                                    <li id="{{ pickup_address.id }}" >
                                {% endif %}
                                    <h2>{{ pickup_address.pickup_addr.name }}
                                        {% if pickup_address.is_default %}
                                            <span class="defaultadd">默认自提点</span>
                                        {% endif %}
                                    </h2>
                                    <table cellpadding="1" cellspacing="0" style="margin-top:10px;">
                                        <tr>
                                            <td class="firstGray">自提点名称：</td>
                                            <td style="font-weight:bold;">{{ pickup_address.pickup_addr.name }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">所在地区：</td>
                                            <td>{{ pickup_address.pickup_addr.city }} {{ pickup_address.pickup_addr.district }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">详细地址：</td>
                                            <td>{{ pickup_address.pickup_addr.addr }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">联系电话：</td>
                                            <td>{{ pickup_address.pickup_addr.tel }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">联系人：</td>
                                            <td>{{ pickup_address.pickup_addr.contact }}</td>
                                        </tr>
                                    </table>
                                    <div class="caoZuo">
                                        <p class="onMap" id="{{ pickup_address.pickup_addr.lng }}_{{ pickup_address.pickup_addr.lat }}">查看地图</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="visitMore">
                            <!--<a href="{% url 'customer:add_pickup_addr' %}" id="btn-1">添加自提点</a>-->
                            <a href="javascript:void(0)" class="more-Addr" id="zitiMore">更多自提点</a>
                        </div>
                    {% else %}
                        <ul class="visitAddress" id="huoyun">
                            {% for receiving_address in change_list %}
                                {% if forloop.counter0 == 0 %}
                                    <li class="current" id={{ receiving_address.id }}>
                                {% else %}
                                    <li id={{ receiving_address.id }}>
                                {% endif %}
                                    <h2>{{ receiving_address.consignee }} {{ receiving_address.city }} {{ receiving_address.district}}
                                        {% if receiving_address.is_default %}
                                            <span class="defaultadd">默认地址</span>
                                        {% endif %}
                                    </h2>
                                    <table cellpadding="0" cellspacing="0" style="margin-top:10px;">
                                        <tr>
                                            <td class="firstGray">所在地区：</td>
                                            <td>{{ receiving_address.city }} {{ receiving_address.district}}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">详细地址：</td>
                                            <td>{{ receiving_address.address }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">联系电话：</td>
                                            <td>{{ receiving_address.mobile_phone }}</td>
                                        </tr>
                                        <tr>
                                            <td class="firstGray">联系人：</td>
                                            <td>{{ receiving_address.consignee }}</td>
                                        </tr>
                                    </table>
                                    <div class="caoZuo">
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="visitMore">
                            <!--<a href="{% url 'customer:add_receiving_addr' %}" id="btn-1">新建收货地址</a>-->
                            <a href="javascript:void(0)" class="more-Addr" id="huoyunMore">更多地址</a>
                        </div>
                    {% endif %}
            	</div>
                <!--
                <div class="checkCont">
                </div>
                -->
            </div>
            <div class="visitDot_right">
                <div class="goodsScroll">
                    {% for pickup_detail in all_pickup_detail %}
                        <ul class="rightGoods">
                            <li class="firstOne">
                                <a href="{{ pickup_detail.product.get_absolute_url }}">
                                    {% with image=pickup_detail.product.primary_image %}
                                        {% thumbnail image.original "100x100" crop="center" as thumb %}
                                            <img class="thumbnail" src="{{ thumb.url }}" alt="{{ pickup_detail.product.get_title }}" width="100" height="100"/>
                                        {% endthumbnail %}
                                    {% endwith %}
                                </a>
                            </li>
                            <li class="firstTwo">
                                <a href="{{ pickup_detail.product.get_absolute_url }}">{{ pickup_detail.product.get_title}}</a><br />
                            </li>
                            <li class="firstThree">数量 <span id="max_quantity_{{ pickup_detail.id }}">{{ pickup_detail.quantity }}</span></li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <form id='pickup_data' method="post" action='.' style="display:none">
            {% csrf_token %}
            <input type="text" name="pickup_type" id="pickup_type" value="{{ pickup_type}}" />
            <input type="text" name="receiving_address_id" id="receiving_address_id" />
            <input type="text" name="pickup_address_id" id="pickup_address_id" />
        </form>
        <div class="sub1"><input type="submit" value="立即提交" id="sub_able"/></div>
    </div>
{% endblock %}

{% block index_script %}
{% endblock %}

{% block onfooterload %}
    {{ block.super }}
    <div id="fullbg"></div>
    <div id="dialog" style="width:800px; height:500px; position:absolute; left:50%; top:50%; margin-left:-400px; margin-top:-250px;">
        <div class="closeMap">关闭</div>
        <div style="width:798px;height:500px;border:#ccc solid 1px;" id="dituContent"></div>
    </div>
{% endblock %}

{% block footer_extra_script %}
    <script type="text/javascript" src="{% static "js/map.js" %}"></script>
    <script type="text/javascript">

        window.onload = function(){
            $(".footer-menu").find("li").eq(-1).children("span").css("display","none");
        };
        
        $('#sub_able').click(function(){
            {% if pickup_type == 1 %}
                var current_pickup_address = $("#ziti li.current");
                if (current_pickup_address.length > 0) {
                    var pickup_address_id = current_pickup_address.attr('id');
                }
                else {
                    alert('没有选择自提点。如果您还没有添加过自提点，请添加。');
                    return false;
                }
                $('#pickup_address_id').val(pickup_address_id);
                $('#pickup_type').val('1');
                var receiving_address_id = $("#huoyun li.current").attr('id');
                $('#receiving_address_id').val(receiving_address_id);
            {% else %}
                var current_receiving_address = $("#huoyun li.current");
                if (current_receiving_address.length > 0) {
                    var receiving_address_id = current_receiving_address.attr('id');
                }
                else {
                    alert('没有选择收货地址。如果您还没有添加过收货地址，请添加。');
                    return false;
                }
                $('#receiving_address_id').val(receiving_address_id);
                $('#pickup_type').val('2');
                var pickup_address_id = $("#ziti li.current").attr('id');
                $('#pickup_address_id').val(pickup_address_id);
            {% endif %}
            $('#pickup_data').submit();
        })

       function init_page(){
		   //选择运输方式，自提或货运
		   $(".checkCont:first").show().siblings(".checkCont").hide();
		    $(".checkStyle li").click(function(){
            	$("#ziti li:first").show().siblings().hide();
		    	$("#huoyun li:first").show().siblings().hide();
            	$("#huoyunMore").show();
            	$("#zitiMore").show();
		   		$(this).addClass("active").siblings().removeClass("active");
				var index=$(this).index();
				$(".checkCont").eq(index).show().siblings(".checkCont").hide();
		   })
		   //默认自提点
		   $("#ziti li:first").show().siblings().hide();
		   $("#huoyun li:first").show().siblings().hide();
		   $("#zitiMore").click(function(){
			   $("#ziti li").show();
			   $(this).hide();
			   $("#ziti").css("overflow-y","scroll");
			   });
			$("#huoyunMore").click(function(){
			   $("#huoyun li").show();
			   $(this).hide();
			   $("#huoyun").css("overflow-y","scroll");
			});
			$(".visitAddress li").click(function(){
				$("#zitiMore").show();
				$("#huoyunMore").show();
				$("#ziti").css("overflow-y","hidden");
				$("#huoyun").css("overflow-y","hidden");
                $(this).addClass('current').siblings("li").removeClass("current");
				$(this).css({"border":"1px solid #c00000","display":"block"}).siblings().css({"border":"1px solid #eee","display":"none"});
			});
		   $(".visitAddress li .default").click(function(){
			   $(".caoZuo .default").show();
			   $(this).parent(".caoZuo").parent("li").addClass("current");
			   $(this).parent(".caoZuo").parent("li").siblings("li").removeClass("current");
			   $(this).parent(".caoZuo").parent("li").find("h2").append('<span class="defaultadd">默认自提点</span>');
			   $(this).parent(".caoZuo").parent("li").siblings("li").find("h2").find("span").remove();
			   $(this).hide();
			});
			   $(".deleteAddr").click(function(){
				   $(this).parent(".caoZuo").parent("li").remove();
				   });
			$(".onMap").click(function(){
				var height=$("body").height();
				var width=$("body").width();
				$("#fullbg").height(height);
				$("#fullbg").width(width);
				$("#fullbg").show();
				$("#dialog").show();

                // map
                var lng_lat = this.id.split('_');
                var current_lng = lng_lat[0];
                var current_lat = lng_lat[1];
                var point = this.id.replace('_', '|');
                var map = new BMap.Map("dituContent");
                map.centerAndZoom(new BMap.Point(current_lng, current_lat),15);
                map.enableScrollWheelZoom(true);
                //点击查看地图
                //标注点数组
                var markerArr = [{title:"自提点",content:"上门路<br/><br/>010",point:point,isOpen:0,icon:{w:23,h:25,l:46,t:21,x:9,lb:12}}];
                toLocation(map, current_lng, current_lat, markerArr);
            });
			$(".closeMap").click(function(){
				$("#fullbg").hide();
				$("#dialog").hide();
            });
           {% if receiving_address_status %}
                $('#to_express').trigger('click');
           {% endif %}
		}
        $(function() {
            init_page();
        })
    </script>
{% endblock %}
