{% extends 'base_stars.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}
{% load currency_filters %}
{% load purchase_info_tags %}
{% load widget_tweaks %}

{% block public_css %}
    {{block.super}}
    <link rel="stylesheet" href="{% static "css/shopcar.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/public.css" %}" type="text/css">
{% endblock %}
{% block jquery %}
    <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script>
    {{block.super}}
{% endblock %}
{% block title %}蓝图百货购物车-订单成功{% endblock %}
{% block top %}
<div class="login">
    <div class="container fix">
        <div class="l login-left">
            {% if user.is_authenticated %}
            <span>{% trans "Welcome" %} <em>{{ user.username }}</em></span>
            <a href="{% url "accounts:logout" %}">注销</a>
            {% else %}
            <a href="{% url "accounts:login" %}">登录</a>
            <a href="{% url "accounts:register" %}">注册</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <ul class="r login-right">
            <li class="first-menu">
                <a href="{% url 'customer:summary' %}">我的账户<span class="jt"></span></a>
                <ul>
                    <li><a href="{% url 'customer:assets' %}">账户资产</a></li>
                    <li><a href="{% url 'customer:summary' %}">订单管理</a></li>
                    <li><a href="{% url 'customer:summary' %}">账户设置</a></li>
                </ul>
            </li>
            <li><a href="{% url 'customer:summary' %}">我的订单</a></li>
            <li><a href="{% url 'customer:summary' %}">充值</a></li>
            <li><a href="{% url 'customer:summary' %}">我要开店</a></li>
            <li>
                <a href="{% url 'customer:summary' %}">帮助中心<span class="jt"></span></a>
                <ul>
                    <li><a href="{% url 'customer:summary' %}">帮助中心<span class="jt"></span></a></li>
                    <li><a href="{% url 'customer:summary' %}">帮助中心</a></li>
                    <li><a href="{% url 'customer:summary' %}">帮助中心</a></li>
                </ul>
            </li>
        </ul>
        {% else %}
        <ul class="r login-right">
            <li>
                <a href="#">我的账户<span class="jt"></span></a>
                <ul>
                    <li><a href="#">账户资产</a></li>
                    <li><a href="#">订单管理</a></li>
                    <li><a href="#">账户设置</a></li>
                </ul>
            </li>
            <li><a href="#">我的订单</a></li>
            <li><a href="#">充值</a></li>
            <li><a href="#">我要开店</a></li>
            <li>
                <a href="#">帮助中心<span class="jt"></span></a>
                <ul>
                    <li><a href="#">帮助中心<span class="jt"></span></a></li>
                    <li><a href="#">帮助中心</a></li>
                    <li><a href="#">帮助中心</a></li>
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block logo %}{% endblock %}
{% block content %}
    <!--登录-顶层logo条-->
    <div class="register-topbar fix">
        <div class="container fix">
            <div class="register-topbar-left l">
                <a href ="{% url 'promotions:home' %}"><img src="{% static "images/logo1.png" %}"/></a>
            </div>
            <div class="register-topbar-right r">
                订单成功
            </div>
        </div>
    </div>
    <!--购物车 content-body start-->
    <div class="container shopcar-balance fix">
        <div class="shopcar-balance-tit">
            订单成功
        </div>
        <div class="shopcar-balance-conbody shopcar-balance-conbody1">
            <div class="row" style="border-bottom: none;">
                <div class="row-con-body">
                    <div class="row-content1 left">
                        <p class="order-form">
                            <span><img src="{% static "images/sub-success.png" %}"/></span>
                            <span>您的订单已经提交成功！</span>
                        </p>
                        <span>查看 <a href="{% url 'customer:today_trading' %}" style="color:#06A206;">当天成交订单</a></span> |
                        <span>查看 <a href="{% url 'customer:today_untrading' %}" style="color:#06A206;">当天未成交订单</a></span>
                        <p>
                            <a href="{% url 'customer:trading_information' %}" class="bgred shopcar-view center">交易信息</a>
                            <a href="/" class="bgred center">继续购物</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_script %}
{% endblock %}
