{% extends "customer/account_base.html" %}
{% load public_tags %}
{% load staticfiles %}
{% load compress %}


{%  block title %}域之为--农行签约--成功{%  endblock title %}

{% block oncontentload %}
    {{ block.super }}
        <div class="account-cont-right account-cont-rightarea l">
            <h4>农行签约</h4>
            <div class="account-sign">
                <div class="register-body-top fix">
                    <div class="box box1 l center">
                        <span class="line"></span>
                        <span class="txt">必填信息</span>
                        <img src="{% static "images/register-oval1.png" %}" class="img"/>
                    </div>
                    <div class="box box1 l center">
                        <span class="line line-yellow"></span>
                        <span class="txt color-s">完成签约</span>
                        <img src="{% static "images/register-oval3h.png" %}" class="img"/>
                    </div>
                </div>
                <div class="sign-type fix">
                    <div class="sign-type-img l">
                        <img src="{% static "images/sign-true.png" %}"/>
                    </div>
                    <div class="sign-type-txt l">
                        签约成功
                    </div>
                    <div class="sign-recharge l">
                        去<a href="{% url 'customer:finance-ab-recharge' %}">充值</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--农行签约body end-->
{% endblock oncontentload %}